In [1]:
import pymongo 
import json
import pandas as pd
from pymongo import MongoClient
from flask import jsonify

In [2]:
#open json file
x = open('resources\data.json')

#return json object
data = json.load(x)
mydata = data['features']

FileNotFoundError: [Errno 2] No such file or directory: 'resources\\data.json'

In [ ]:
data

In [ ]:
mydata

In [ ]:
int(mydata[0]['properties']['STATE'])

In [ ]:
mydata[0]['properties']

In [16]:
#read in walkability_df

walk_csv = pd.read_csv('./static/data/walkability.csv')
# walk_data = pd.DataFrame(walk_csv)
walk_csv = walk_csv.groupby(['STATEFP', 'COUNTYFP'], as_index=False).sum()
walk_area_csv = walk_csv[['STATEFP', 'COUNTYFP', 'Shape_Area']]

In [17]:
walk_area_csv.head()

   STATEFP  COUNTYFP    Shape_Area
0        1         1  1.565309e+09
1        1         3  5.250602e+09
2        1         5  2.342684e+09
3        1         7  1.621770e+09
4        1         9  1.685119e+09

In [19]:
walk_area_csv.dtypes

STATEFP         int64
COUNTYFP        int64
Shape_Area    float64
dtype: object

In [7]:
for  x in range(len(walk_area_csv['Shape_Area'])):
    for y in mydata:
        if walk_data.loc[x,'state'] == int(y['properties']['STATE'])\
        and walk_data.loc[x,'county'] == int(y['properties']['COUNTY']):
            y['properties']['walkability_score'] = walk_data.loc[x, 'walkability_score']
            y['properties']['unique_id'] = int(walk_data.loc[x,'unique_id'])

In [ ]:
# mydata['properties']['STATE']

In [35]:
#read in publis school info
school_csv = pd.read_csv('./static/data/Public_School_Characteristics_-_Current.csv')
# school_data = pd.DataFrame(school_csv)
# school_data
school_df = school_csv[['OBJECTID', 'STABR', 'SCH_NAME', 'NMCNTY', 'TOTFRL', 'TOTAL', 'SCHOOL_LEVEL']]
school_df = school_df.groupby(['STABR', 'NMCNTY'], as_index=False).count()[['STABR', 'NMCNTY', 'OBJECTID']]
school_df.rename(columns={'OBJECTID': 'school_count'})

/Users/glena.dagger/Downloads/anaconda3/envs/PythonDataOne/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3186: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     STABR                      NMCNTY  school_count
0       AK      Aleutians East Borough             4
1       AK  Aleutians West Census Area             6
2       AK      Anchorage Municipality           101
3       AK          Bethel Census Area            42
4       AK         Bristol Bay Borough             4
...    ...                         ...           ...
3305    WY           Sweetwater County            28
3306    WY                Teton County            12
3307    WY                Uinta County            14
3308    WY             Washakie County             7
3309    WY               Weston County             7

[3310 rows x 3 columns]

In [32]:
school_df = school_df

KeyError: 'STABR, NMCNTY, OBJECTID'

In [14]:
#drop county from all the county names
county_list = school_df['NMCNTY']
semi_cleaned_list = []
for county in county_list:
    x = county.split(" County")
    semi_cleaned_list.append(x)
semi_cleaned_list

for x in semi_cleaned_list:
    while('' in x):
        x.remove('')
semi_cleaned_list   

final_list = []
for x in semi_cleaned_list:
    for y in x:
        final_list.append(y)
len(final_list)

100722

In [15]:
school_df['county'] = final_list
school_df_sum = school_df.groupby(['STABR', 'county']).sum().reset_index()
school_df_sum['state_id'] = ''
school_df_sum

C:\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     STABR                      county  OBJECTID  TOTFRL    TOTAL state_id
0       AK      Aleutians East Borough      6446     0.0    228.0
1       AK  Aleutians West Census Area     11279     0.0    477.0
2       AK      Anchorage Municipality    174656     0.0  42607.0
3       AK          Bethel Census Area     70481     0.0   4974.0
4       AK         Bristol Bay Borough      6766     0.0    119.0
...    ...                         ...       ...     ...      ...      ...
3305    WY                  Sweetwater   2812640  2252.0   7500.0
3306    WY                       Teton   1205480   132.0   2752.0
3307    WY                       Uinta   1404607  1447.0   4149.0
3308    WY                    Washakie    703453   421.0   1277.0
3309    WY                      Weston    703048   240.0    999.0

[3310 rows x 6 columns]

In [16]:
school_df_sum

     STABR                      county  OBJECTID  TOTFRL    TOTAL state_id
0       AK      Aleutians East Borough      6446     0.0    228.0
1       AK  Aleutians West Census Area     11279     0.0    477.0
2       AK      Anchorage Municipality    174656     0.0  42607.0
3       AK          Bethel Census Area     70481     0.0   4974.0
4       AK         Bristol Bay Borough      6766     0.0    119.0
...    ...                         ...       ...     ...      ...      ...
3305    WY                  Sweetwater   2812640  2252.0   7500.0
3306    WY                       Teton   1205480   132.0   2752.0
3307    WY                       Uinta   1404607  1447.0   4149.0
3308    WY                    Washakie    703453   421.0   1277.0
3309    WY                      Weston    703048   240.0    999.0

[3310 rows x 6 columns]

In [17]:
stateDict = {1:'AL', 2:'AK', 4:'AZ', 5:'AR', 6:'CA', 8:'CO', 9:'CT', 10:'DE',
                11:'DC', 12:'FL', 13:'GA', 15:'HI', 16:'ID', 17:'IL', 18:'IN', 19:'IA',
                20:'KS', 21:'KY', 22:'LA', 23:'ME', 24:'MD', 25:'MA', 26:'MI', 27:'MN',
                28:'MS', 29:'MO', 30:'MT', 31:'NE', 32:'NV', 33:'NH', 34:'NJ', 35:'NM',
                36:'NY', 37:'NC', 38:'ND', 39:'OH', 40:'OK', 41:'OR', 42:'PA', 72:'PR',
                44:'RI', 45:'SC', 46:'SD', 47:'TN', 48:'TX', 49:'UT', 50:'VT', 51:'VA',
                53:'WA', 54:'WV', 55:'WI', 56:'WY'
            };

In [18]:
state_id = []
state_abv = []
for key in stateDict.keys():
    state_id.append(key)
for value in stateDict.values():
    state_abv.append(value)
stateinfo = {'state_id': state_id, 'state_abv': state_abv}
state_num_df = pd.DataFrame(stateinfo)
state_num_df

    state_id state_abv
0          1        AL
1          2        AK
2          4        AZ
3          5        AR
4          6        CA
5          8        CO
6          9        CT
7         10        DE
8         11        DC
9         12        FL
10        13        GA
11        15        HI
12        16        ID
13        17        IL
14        18        IN
15        19        IA
16        20        KS
17        21        KY
18        22        LA
19        23        ME
20        24        MD
21        25        MA
22        26        MI
23        27        MN
24        28        MS
25        29        MO
26        30        MT
27        31        NE
28        32        NV
29        33        NH
30        34        NJ
31        35        NM
32        36        NY
33        37        NC
34        38        ND
35        39        OH
36        40        OK
37        41        OR
38        42        PA
39        72        PR
40        44        RI
41        45        SC
42        46        SD
43        47        TN
44        48        TX
45        49        UT
46        50        VT
47        51        VA
48        53        WA
49        54        WV
50        55        WI
51        56        WY

In [ ]:
state_num_df.dtypes

In [19]:
for y in range(len(state_num_df['state_abv'])):
    for x in range(len(school_df_sum['STABR'])):
        if state_num_df.loc[y,'state_abv'] == school_df_sum.loc[x,'STABR']:
            school_df_sum.loc[x, 'state_id'] = state_num_df.loc[y, 'state_id']
school_df_sum

     STABR                      county  OBJECTID  TOTFRL    TOTAL state_id
0       AK      Aleutians East Borough      6446     0.0    228.0        2
1       AK  Aleutians West Census Area     11279     0.0    477.0        2
2       AK      Anchorage Municipality    174656     0.0  42607.0        2
3       AK          Bethel Census Area     70481     0.0   4974.0        2
4       AK         Bristol Bay Borough      6766     0.0    119.0        2
...    ...                         ...       ...     ...      ...      ...
3305    WY                  Sweetwater   2812640  2252.0   7500.0       56
3306    WY                       Teton   1205480   132.0   2752.0       56
3307    WY                       Uinta   1404607  1447.0   4149.0       56
3308    WY                    Washakie    703453   421.0   1277.0       56
3309    WY                      Weston    703048   240.0    999.0       56

[3310 rows x 6 columns]

In [20]:
school_df_sum.dtypes

STABR        object
county       object
OBJECTID      int64
TOTFRL      float64
TOTAL       float64
state_id     object
dtype: object

In [24]:
for  x in range(len(school_df_sum['TOTAL'])):
    for y in mydata:
        if school_df_sum.loc[x,'state_id'] == int(y['properties']['STATE'])\
        and school_df_sum.loc[x,'county'] == y['properties']['NAME']:
            y['properties']['student_pop'] = int(school_df_sum.loc[x, 'TOTAL'])
            
            
#             y['properties']['population'] = int(pop_data.loc[x, 'population'])

In [25]:
mydata[0]

{'type': 'Feature',
 'properties': {'GEO_ID': '0500000US01029',
  'STATE': '01',
  'COUNTY': '029',
  'NAME': 'Cleburne',
  'LSAD': 'County',
  'CENSUSAREA': 560.1,
  'walkability_score': 4.606060606090909,
  'unique_id': 1029,
  'population': 14938,
  'student_pop': 2510},
 'geometry': {'type': 'Polygon',
  'coordinates': [[[-85.388717, 33.913044],
    [-85.380885, 33.873508],
    [-85.379455, 33.866291],
    [-85.377426, 33.856047],
    [-85.376403, 33.850656],
    [-85.364595, 33.788446],
    [-85.361844, 33.773951],
    [-85.360491, 33.767958],
    [-85.357402, 33.750104],
    [-85.355252, 33.739245],
    [-85.344054, 33.682684],
    [-85.342722, 33.675953],
    [-85.323792, 33.580339],
    [-85.31534, 33.537646],
    [-85.314994, 33.535898],
    [-85.314843, 33.534951],
    [-85.314091, 33.530218],
    [-85.313999, 33.529807],
    [-85.304439, 33.482884],
    [-85.308211, 33.481579],
    [-85.30925, 33.483137],
    [-85.314852, 33.487603],
    [-85.316028, 33.488267],
    [-85.320893, 33.488359],
    [-85.324856, 33.489161],
    [-85.331061, 33.491014],
    [-85.33828, 33.4947],
    [-85.342544, 33.495961],
    [-85.344923, 33.497608],
    [-85.346705, 33.501148],
    [-85.349958, 33.501216],
    [-85.351594, 33.4996],
    [-85.354491, 33.498866],
    [-85.352576, 33.494538],
    [-85.352573, 33.492438],
    [-85.355315, 33.49248],
    [-85.497455, 33.494624],
    [-85.501645, 33.494456],
    [-85.51731, 33.494524],
    [-85.52513, 33.494781],
    [-85.527515, 33.494608],
    [-85.539922, 33.494743],
    [-85.563763, 33.495081],
    [-85.565653, 33.494992],
    [-85.623387, 33.495371],
    [-85.623645, 33.495373],
    [-85.627835, 33.495624],
    [-85.643482, 33.495885],
    [-85.66722, 33.496293],
    [-85.680346, 33.496623],
    [-85.740983, 33.498376],
    [-85.765427, 33.498593],
    [-85.765308, 33.496862],
    [-85.765631, 33.483477],
    [-85.781244, 33.483625],
    [-85.782689, 33.483638],
    [-85.782735, 33.469349],
    [-85.887782, 33.469427],
    [-85.887675, 33.476768],
    [-85.870053, 33.476757],
    [-85.869308, 33.491574],
    [-85.852421, 33.491644],
    [-85.85189, 33.498742],
    [-85.849839, 33.49969],
    [-85.796852, 33.541849],
    [-85.796054, 33.55622],
    [-85.744118, 33.556075],
    [-85.742348, 33.586553],
    [-85.742202, 33.600002],
    [-85.737379, 33.599823],
    [-85.724517, 33.59943],
    [-85.724953, 33.613539],
    [-85.72367, 33.613492],
    [-85.72365, 33.613491],
    [-85.723074, 33.613505],
    [-85.689954, 33.612909],
    [-85.69014, 33.615815],
    [-85.690716, 33.625105],
    [-85.690684, 33.627789],
    [-85.674932, 33.627254],
    [-85.65581, 33.627166],
    [-85.655549, 33.638127],
    [-85.651295, 33.637972],
    [-85.651283, 33.64157],
    [-85.64719, 33.641529],
    [-85.64704, 33.648772],
    [-85.638579, 33.648413],
    [-85.638586, 33.649158],
    [-85.638049, 33.773339],
    [-85.621245, 33.773508],
    [-85.621019, 33.782331],
    [-85.62089, 33.787944],
    [-85.603469, 33.787755],
    [-85.603465, 33.788474],
    [-85.603391, 33.802344],
    [-85.585985, 33.802095],
    [-85.585201, 33.84592],
    [-85.636882, 33.846495],
    [-85.637126, 33.846497],
    [-85.637012, 33.875273],
    [-85.637014, 33.875944],
    [-85.601899, 33.874865],
    [-85.601913, 33.875101],
    [-85.601858, 33.88975],
    [-85.597063, 33.889703],
    [-85.532482, 33.889152],
    [-85.531812, 33.903049],
    [-85.530094, 33.941423],
    [-85.49582, 33.942394],
    [-85.495289, 33.95691],
    [-85.425627, 33.957069],
    [-85.425444, 33.960645],
    [-85.407831, 33.960548],
    [-85.407637, 33.964204],
    [-85.398837, 33.964129],
    [-85.391495, 33.927068],
    [-85.388717, 33.913044]]]}}

In [ ]:
from platform import python_version

print(python_version())

In [29]:
# try:
#     conn = MongoClient("mongodb://localhost:27017/")
#     print("Connected Successfully")
# except:
#     print("Could not connect to MongoDB")
    
#set up database connection
conn = "mongodb+srv://project3_group4:project3_group4@cluster0.a6d7ysg.mongodb.net/?retryWrites=true&w=majority"
client = pymongo.MongoClient(conn)

#select db and collection to use
db = client.project3_data
collection = db.data

# insert data
collection.insertMany(mydata)

TypeError: 'Collection' object is not callable. If you meant to call the 'insertMany' method on a 'Collection' object it is failing because no such method exists.

In [ ]:
result_list = []
results = collection.find()
for result in results:
    del result['_id']
    result_list.append(result)
real_list = {"type": "FeatureCollection", "features": result_list}
real_list

In [ ]:
collection.find_one()

In [ ]:
real_list