- DataFrame for counties

walkability index
area (sq miles)
number of public schools
number of students
percent FRL

In [1]:
import pandas as pd

In [20]:
public_schools_df = pd.read_csv('./static/data/Public_School_Characteristics_-_Current.csv')
public_schools_df.dtypes

X                   float64
Y                   float64
OBJECTID              int64
NCESSCH               int64
SURVYEAR             object
STABR                object
LEAID                 int64
ST_LEAID             object
LEA_NAME             object
SCH_NAME             object
LSTREET1             object
LSTREET2             object
LCITY                object
LSTATE               object
LZIP                  int64
LZIP4                object
PHONE                object
GSLO                 object
GSHI                 object
VIRTUAL              object
TOTFRL              float64
FRELCH              float64
REDLCH              float64
PK                  float64
KG                  float64
G01                 float64
G02                 float64
G03                 float64
G04                 float64
G05                 float64
G06                 float64
G07                 float64
G08                 float64
G09                 float64
G10                 float64
G11                 float64
G12                 float64
G13                 float64
TOTAL               float64
MEMBER              float64
AM                  float64
HI                  float64
BL                  float64
WH                  float64
HP                  float64
TR                  float64
FTE                 float64
LATCOD              float64
LONCOD              float64
ULOCALE              object
NMCNTY               object
STUTERATIO          float64
TITLEI               object
STITLEI              object
AMALM               float64
AMALF               float64
ASALM               float64
ASALF               float64
HIALM               float64
HIALF               float64
BLALM               float64
BLALF               float64
WHALM               float64
WHALF               float64
HPALM               float64
HPALF               float64
TRALM               float64
TRALF               float64
TOTMENROL           float64
TOTFENROL           float64
STATUS                int64
UG                  float64
AE                  float64
SCHOOL_TYPE_TEXT     object
SY_STATUS_TEXT       object
SCHOOL_LEVEL         object
AS_                 float64
CHARTER_TEXT         object
MAGNET_TEXT          object
dtype: object

In [29]:
filtered_df = public_schools_df[['OBJECTID', 'STABR', 'SCH_NAME', 'NMCNTY', 'TOTFRL', 'TOTAL', 'SCHOOL_LEVEL']]
counties_df = filtered_df.groupby(['STABR','NMCNTY', 'SCH_NAME']).sum()
counties_df.head()

                                  OBJECTID  TOTFRL    TOTAL
STABR NMCNTY
AK    Aleutians East Borough          6446     0.0    228.0
      Aleutians West Census Area     11279     0.0    477.0
      Anchorage Municipality        174656     0.0  42607.0
      Bethel Census Area             70481     0.0   4974.0
      Bristol Bay Borough             6766     0.0    119.0