- DataFrame for counties

walkability index
area (sq miles)
number of public schools
number of students
percent FRL

In [1]:
import pandas as pd

In [20]:
public_schools_df = pd.read_csv('./static/data/Public_School_Characteristics_-_Current.csv')
public_schools_df.dtypes

X                   float64
Y                   float64
OBJECTID              int64
NCESSCH               int64
SURVYEAR             object
STABR                object
LEAID                 int64
ST_LEAID             object
LEA_NAME             object
SCH_NAME             object
LSTREET1             object
LSTREET2             object
LCITY                object
LSTATE               object
LZIP                  int64
LZIP4                object
PHONE                object
GSLO                 object
GSHI                 object
VIRTUAL              object
TOTFRL              float64
FRELCH              float64
REDLCH              float64
PK                  float64
KG                  float64
G01                 float64
G02                 float64
G03                 float64
G04                 float64
G05                 float64
G06                 float64
G07                 float64
G08                 float64
G09                 float64
G10                 float64
G11                 float64
G12                 float64
G13                 float64
TOTAL               float64
MEMBER              float64
AM                  float64
HI                  float64
BL                  float64
WH                  float64
HP                  float64
TR                  float64
FTE                 float64
LATCOD              float64
LONCOD              float64
ULOCALE              object
NMCNTY               object
STUTERATIO          float64
TITLEI               object
STITLEI              object
AMALM               float64
AMALF               float64
ASALM               float64
ASALF               float64
HIALM               float64
HIALF               float64
BLALM               float64
BLALF               float64
WHALM               float64
WHALF               float64
HPALM               float64
HPALF               float64
TRALM               float64
TRALF               float64
TOTMENROL           float64
TOTFENROL           float64
STATUS                int64
UG                  float64
AE                  float64
SCHOOL_TYPE_TEXT     object
SY_STATUS_TEXT       object
SCHOOL_LEVEL         object
AS_                 float64
CHARTER_TEXT         object
MAGNET_TEXT          object
dtype: object

In [42]:
filtered_df = public_schools_df[['OBJECTID', 'STABR', 'SCH_NAME', 'NMCNTY', 'TOTFRL', 'TOTAL', 'SCHOOL_LEVEL']]
filtered_df.head()

,OBJECTID,STABR,SCH_NAME,NMCNTY,TOTFRL,TOTAL,SCHOOL_LEVEL
0,1,AL,Albertville Middle School,Marshall County,332.0,908.0,Middle
1,2,AL,Albertville High School,Marshall County,456.0,1606.0,High
2,3,AL,Albertville Intermediate School,Marshall County,330.0,891.0,Middle
3,4,AL,Albertville Elementary School,Marshall County,397.0,908.0,Elementary
4,5,AL,Albertville Kindergarten and PreK,Marshall County,181.0,556.0,Elementary

In [47]:
counties_df = filtered_df.groupby(['STABR','NMCNTY'], as_index=False).sum()
counties_df.head()

  STABR                      NMCNTY  OBJECTID  TOTFRL    TOTAL
0    AK      Aleutians East Borough      6446     0.0    228.0
1    AK  Aleutians West Census Area     11279     0.0    477.0
2    AK      Anchorage Municipality    174656     0.0  42607.0
3    AK          Bethel Census Area     70481     0.0   4974.0
4    AK         Bristol Bay Borough      6766     0.0    119.0

In [50]:
avg_by_county_df = filtered_df.merge(counties_df, how='left', on='OBJECTID')
avg_by_county_df.rename(columns={'TOTFRL_x': 'AVGTOTFRL'})

,OBJECTID,STABR_x,SCH_NAME,NMCNTY_x,AVGTOTFRL,TOTAL_x,SCHOOL_LEVEL,STABR_y,NMCNTY_y,TOTFRL_y,TOTAL_y
0,1,AL,Albertville Middle School,Marshall County,332.0,908.0,Middle,NaN,NaN,NaN,NaN
1,2,AL,Albertville High School,Marshall County,456.0,1606.0,High,NaN,NaN,NaN,NaN
2,3,AL,Albertville Intermediate School,Marshall County,330.0,891.0,Middle,NaN,NaN,NaN,NaN
3,4,AL,Albertville Elementary School,Marshall County,397.0,908.0,Elementary,NaN,NaN,NaN,NaN
4,5,AL,Albertville Kindergarten and PreK,Marshall County,181.0,556.0,Elementary,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
100717,101658,VI,LOCKHART ELEMENTARY SCHOOL,St. Thomas Island,325.0,328.0,Elementary,NaN,NaN,NaN,NaN
100718,101659,VI,ULLA F MULLER ELEMENTARY SCHOOL,St. Thomas Island,474.0,477.0,Elementary,NaN,NaN,NaN,NaN
100719,101660,VI,YVONNE BOWSKY ELEMENTARY SCHOOL,St. Thomas Island,394.0,397.0,Elementary,NaN,NaN,NaN,NaN
100720,101661,VI,CANCRYN JUNIOR HIGH SCHOOL,St. Thomas Island,760.0,763.0,Middle,NaN,NaN,NaN,NaN
100721,101662,VI,BERTHA BOSCHULTE JUNIOR HIGH,St. Thomas Island,574.0,577.0,Middle,NaN,NaN,NaN,NaN

In [2]:
walkability = pd.read_csv('./static/data/walkability.csv')

In [28]:
groupbycounty = walkability.groupby(['STATEFP','COUNTYFP'], as_index=False).mean()[['STATEFP', 'COUNTYFP','NatWalkInd']]

In [31]:
groupbycounty.describe()

          STATEFP    COUNTYFP  NatWalkInd
count  372.000000  372.000000  372.000000
mean     5.798387   66.795699    6.987423
std      3.495040   50.184631    2.485249
min      1.000000    1.000000    3.454545
25%      2.000000   25.000000    5.183160
50%      5.500000   61.000000    6.301042
75%      8.000000   97.000000    8.228765
max     12.000000  290.000000   15.957258

In [41]:
groupbycounty['Quintile_rank'] = pd.qcut(groupbycounty['NatWalkInd'], 5, labels = False)

In [47]:
groupbycounty.groupby("Quintile_rank").median()

               STATEFP  COUNTYFP  NatWalkInd
Quintile_rank
0                    4        60    4.527778
1                    5        65    5.361715
2                    5        59    6.301042
3                    8        62    7.353801
4                    6        59   10.918040